/* ============================================= */
/*              Colours                          */
/* ============================================= */

$color-base: #777;
$color-secondary: #58e1c1;

$color-default: #51ddfc;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warn: #fd7856;


/* ============================================= */
/*              Typography                       */
/* ============================================= */

$font-weight-light: 300;
$font-weight-bold: 700;

$f-fam: 'Lato', sans-serif;



/* ============================================= */
/*              Breakpoints                      */
/* ============================================= */

$break-med: 768px;
